<app-header></app-header>

<div class="section px-4 md:px-16 lg:px-16">
  <!-- header section -->


  <!-- summary section -->
  <div class="summary p-6 flex flex-col md:flex-col lg:flex-row gap-6 bg-gray-100/65">
    <div class="layout-1 basis-1/2">
      <h4 class="text-lg font-medium text-gray-800">Guest Summary</h4>

      <div class="flex gap-4 mt-4 lg:flex-row md:flex-col flex-col bg-gray-100/65">
        <div class="flex flex-col gap-2 bg-white px-6 py-6 basis-1/2">
          <span class="text-sm text-gray-600">Total Guest</span>
          <div class="flex justify-between items-center">
            <span *ngIf="metrics" class="text-xl font-bold text-gray-800">{{metrics?.data.total_quests}}</span>
            <span *ngIf="!metrics">
              <i  class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
            </span>
            <span class="text-xs cursor-pointer hover:text-gray-500 active:scale-95 text-gray-600 flex items-center gap-2">
              view detail
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
              </span>
            </span>
          </div>
        </div>

        <div class="flex flex-col gap-2 bg-white px-6 py-6 basis-1/2">
          <span class="text-sm text-gray-600">Total checked out</span>
          <div class="flex justify-between items-center">
            <span *ngIf="metrics" class="text-xl font-bold text-gray-800">{{metrics?.data.total_quest_checkedout}}</span>
            <span *ngIf="!metrics">
              <i  class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
            </span>
            <span class="text-xs cursor-pointer hover:text-gray-500 active:scale-95 text-gray-600 flex items-center gap-2">
              view detail
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
              </span>
            </span>
          </div>
        </div>

      </div>
    </div>

    <div class="divider hidden md:hidden lg:block border-l h-[150px]"></div>

    <div class="layout-2 basis-1/2">
      <h4 class="text-lg font-medium text-gray-800">Track Attendance</h4>

      <div class="flex gap-4 mt-4 lg:flex-row md:flex-col flex-col">
        <div class="flex flex-col gap-2 bg-white px-6 py-6 basis-1/2">
          <span class="text-sm text-gray-600">Checked in</span>
          <div class="flex justify-between items-center">
            <span *ngIf="metrics"  class="text-xl font-bold text-gray-800">{{metrics?.data.total_quest_checkedin}}</span>
            <span *ngIf="!metrics">
              <i  class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
            </span>
            <span class="text-xs cursor-pointer hover:text-gray-500 active:scale-95 text-gray-600 flex items-center gap-2">
              view detail
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
              </span>
            </span>
          </div>
        </div>

        <div class="flex flex-col gap-2 bg-white px-6 py-6 basis-1/2">
          <span class="text-sm text-gray-600">Pending</span>
          <div class="flex justify-between items-center">
            <span *ngIf="metrics" class="text-xl font-bold text-gray-800">{{metrics?.data.total_quest_pending}}</span>
            <span *ngIf="!metrics">
              <i  class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
            </span>
            <span class="text-xs cursor-pointer hover:text-gray-500 active:scale-95 text-gray-600 flex items-center gap-2">
              view detail
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
              </span>
            </span>
          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- Inventory tracker section -->
  <div class="summary flex flex-col md:flex-col lg:flex-row gap-6 mt-6">
    <div class="layout-1 basis-[100%] p-6 bg-gray-100/65">
      <div class="flex gap-4 justify-between ">
        <h4 class="text-lg font-medium text-gray-800">All Guest</h4>
        <!-- <span class="text-xs cursor-pointer hover:text-gray-500 active:scale-95 text-gray-600 flex items-center gap-2">
          view detail
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
          </span>
        </span> -->
      </div>

      <!-- <h5 class=" text-gray-500 mt-1 mb-8">This month ({{metrics?.data.current_month_referal_count}})</h5> -->

      <div class=" gap-4 ">
        <div class="flex flex-col w-full">
                <div class="-m-1.5 overflow-x-auto">
                  <div class="p-1.5 min-w-full inline-block align-middle">
                    <div class="overflow-hidden w-full">
                      <table class="min-w-full border divide-y divide-gray-200">
                        <thead>
                          <tr>
                            <ng-container *ngFor="let menu of tableHeader">
                              <th scope="col" class="px-6 py-6 text-start text-xs font-medium text-gray-800 uppercase">{{menu}}</th>
                            </ng-container>
                          </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white w-full">
                          <ng-container *ngFor="let guest of guests?.data; let i = index">
                            <tr class="hover:bg-gray-100">
                              <td class="px-6 py-4 whitespace-nowrap cursor-pointer text-sm text-gray-800">{{guest.full_name}}</td>
                              <td class="px-6 py-4 whitespace-nowrap cursor-pointer text-sm text-gray-500">{{guest.email}}</td>
                              <td class="px-6 py-4 whitespace-nowrap cursor-pointer text-start text-sm font-medium text-gray-500">{{guest.phone_number}}</td>
                              <td class="px-6 py-4 whitespace-nowrap cursor-pointer text-start text-sm font-medium text-gray-500">{{guest.church.full_name}}</td>
                              <td class="px-6 py-4 whitespace-nowrap cursor-pointer text-start text-sm font-medium text-gray-500">
                                <span>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
                                  </svg>
                                </span>
                              </td>
                            </tr>

                          </ng-container>
                        </tbody>


                      </table>

                      <div *ngIf="guests?.data?.length <=0 && pageLoading" class="w-full flex justify-center items-center h-[50vh]">
                        <app-spinner></app-spinner>
                      </div>

                      <div *ngIf="guests?.data?.length<=0 && !pageLoading ">
                       <app-empty-list></app-empty-list>
                      </div>

                    </div>


                  </div>
                </div>
              </div>

        <div class="flex w-full justify-end mt-8">
          <app-pagination [currentPage]="this.guests?.meta?.current_page" [lastPage]="this.guests?.meta?.last_page"></app-pagination>
        </div>
       </div>


    </div>




  </div>


  <!-- Top selling section  -->
  <!-- <div class="summary p-6 flex gap-6 bg-gray-100/65 mt-6 w-full">
    <div class="layout-1 w-full">
      <h4 class="text-lg font-medium text-gray-800 capitalize">Top refering pharmacy</h4>

      <div class="products grid md:grid lg:grid md:grid-cols-2 lg:grid-cols-4 gap-4 w-full mt-8">
        <ng-container *ngFor="let item of products">
        <app-product-card fullName={{item.name}} email={{item.total_referals}}></app-product-card>
        </ng-container>
      </div>

      <div class="flex w-full justify-end mt-8">
        <app-pagination></app-pagination>
      </div>


    </div>



  </div> -->







</div>
